@using System.Security.Claims
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User?.Identity?.IsAuthenticated ?? false)
                    {
                        <PageTitle>Техникум - Нет прав! </PageTitle>
                        <h3>У вас нет прав для доступа к этой странице! </h3>
                    }
                    else
                    {
                        <PageTitle>Техникум - Авторизуйтесь! </PageTitle>
                        <h3>Авторизуйтесь!</h3>
                        <a href="Access/Login">Вход</a>
                    }
                </NotAuthorized>
                <Authorizing>
                    <PageTitle>Техникум - Нет прав! </PageTitle>
                    <h3>У вас нет прав для доступа к этой странице! </h3>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Техникум - Не найдено! </PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>Ничего не найдено!</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>