@using System.Linq.Expressions

@inherits InputBase<string>

<div class="form-control-wrapper">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@Id">@Label</label>
    }
    <input type="@Type" class="form-control @CssClass" id="@Id" @bind="@CurrentValue" placeholder="@(Placeholder ?? Label ?? string.Empty)" autocomplete="@(Autocomplete ? "on" : "new-password")"/>
    <div class="form-control-validation">
        <ValidationMessage For="@ValueExpression"/>
    </div>
</div>

@code {

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string Type { get; set; } = "text";

    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value!;
        validationErrorMessage = null!;
        return true;
    }

    public bool Autocomplete { get; set; }

}