@page "/applicants"
@attribute [Authorize(Policy = PolicyIdentifiers.AdmissionCommittee)]
@using Microsoft.EntityFrameworkCore
@using Application.AdmissionCommittee.Data
@using Application.AdmissionCommittee.Forms
@using Application.AdmissionCommittee.Services.ApplicantsTable
@using Application.Common.Enums
@using Application.Specialities.Data
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Localization
@using Application.Access.Enums
@using Application.Data
@using System.Security.Claims
@inject IDbContextFactory<MainDbContext> DbContextFactory
@inject ILogger<ApplicantCreatePage> Logger
@inject IStringLocalizer StringLocalizer
@inject NavigationManager NavigationManager
@inject ApplicantsTableCreator ApplicantsTableCreator
@inject IConfiguration Configuration
@inject IDialogService DialogService
<PageTitle>Техникум - Данные абитуриентов </PageTitle>
<h3>Абитуриенты</h3>

<div class="container">
    <div class="row">
        <EditForm EditContext="FilterContext">
            <DataAnnotationsValidator/>
            <MudGrid>
                <MudItem sm="6">
                    <MyYearSelector @bind-Value="Filter.SelectedYear"/>
                    <MudTextField Label="Поиск студентов" @bind-Value="Filter.SearchString" OnKeyUp="() => FilterContext.NotifyFieldChanged(FieldIdentifier.Create(() => Filter.SearchString))"/>
                    <MyEnumSelector TValue="EducationForm" @bind-Value="@Filter.SelectedEducationForm" Label="Форма обучения"/>
                </MudItem>
                <MudItem sm="6">
                    <MyEnumSelector TValue="FinanceEnrolmentType" @bind-Value="@Filter.SelectedFinanceEnrolmentType" Label="Форма финансирования"/>
                    <MyEnumSelector TValue="DirectorDecisionType" @bind-Value="@Filter.SelectedDirectorDecisionType" Label="Решение директора"/>
                </MudItem>
                <MudItem sm="12">
                    <MyInputRadioGroup TValue="long?" @bind-Value="@Filter.SelectedSpecialityId" RadioItems="@Filter.SpecialityRadioItems" Label="Специальность"/>
                </MudItem>
                <MudItem sm="12">
                    <MudButton OnClick="ResetAsync">Все</MudButton>
                    <MudIconButton Icon="@Icons.Filled.Print" Title="Скачать сводную таблицу из текущих данных" OnClick="OnDownloadApplicantsTableAsync"/>
                    <MudIconButton Icon="@Icons.Filled.PlusOne" Title="На страницу заполнения данных" OnClick="@(() => NavigationManager.NavigateTo("/applicants/create"))"/>
                </MudItem>
            </MudGrid>
        </EditForm>
    </div>
    <div class="row">
        <MudTable T="Applicant" ServerData="LoadApplicantsFromDatabase" @ref="ApplicantsTable" RowsPerPage="150">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="Id">№</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="FullName">ФИО</MudTableSortLabel>
                </MudTh>
                <MudTh>Образование</MudTh>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="MathRating">Баллы по математике</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="LanguageRating">Баллы по русскому языку</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="AverageAttestRating">Средний балл</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel T="Applicant" SortLabel="CommonScore">Общая оценка</MudTableSortLabel>
                </MudTh>
                <MudTh>Примечание</MudTh>
                <MudTh>Решение директора</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Id</MudTd>
                <MudTd>@context.FullName</MudTd>
                <MudTd>
                    <div class="hint-information" data-name="Базовое образование: @context.EducationDescription, Год: @context.EducationDocumentIssued.Year.">
                        @(StringLocalizer[context.EducationType.ToString()])
                    </div>
                </MudTd>
                <MudTd>@context.LanguageRating</MudTd>
                <MudTd>@context.MathRating</MudTd>
                <MudTd>@context.AverageAttestRating</MudTd>
                <MudTd>@context.CommonScore</MudTd>
                <MudTd>@context.Description</MudTd>
                <MudTd>@(StringLocalizer[context.DirectorDecision.ToString()])</MudTd>
                <MudTd>
                    @if (CurrentUser.IsInPolicy(PolicyIdentifiers.Administration))
                    {
                        <MudIconButton Icon="@Icons.Filled.DeleteForever" Title="Удалить данные" OnClick="@(async () => await DeleteApplicantAsync(context))"/>
                        if (context.DirectorDecision == DirectorDecisionType.NotСonsidered)
                        {
                            <MudIconButton Icon="@Icons.Filled.Cancel" Title="Пометить как не зачисляемого" OnClick="@(async () => await MarkAsAsync(context, DirectorDecisionType.NotEnroll, $"Вы хотите отклонить зачисление студента {context.FullName}?"))"/>
                        }
                        else if (context.DirectorDecision == DirectorDecisionType.NotEnroll)
                        {
                            <MudIconButton Icon="@Icons.Filled.Add" Title="Пометить как зачисляемого" OnClick="@(async () => await MarkAsAsync(context, DirectorDecisionType.NotСonsidered, $"Вы хотите продолжить зачисление студента {context.FullName}?"))"/>
                        }
                    }
                    <DownloadApplicantStatementButton ApplicantId="@context.Id"/>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="Строк на страницу" HideRowsPerPage="true"  InfoFormat="{first_item}-{last_item} / {all_items}"/>
            </PagerContent>
        </MudTable>
    </div>
</div>

@code {

    public ApplicantsTableFilterForm Filter { get; set; } = new();

    public EditContext FilterContext { get; set; } = null!;

    public List<Speciality> Specialities { get; set; } = new();

    public MudTable<Applicant>? ApplicantsTable { get; set; }

    private ClaimsPrincipal CurrentUser { get; set; } = new();

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Filter = new ApplicantsTableFilterForm();
        FilterContext = new EditContext(Filter);
        FilterContext.OnFieldChanged += ApplyFilterAsync;

        await using var context = await DbContextFactory.CreateDbContextAsync();
        Specialities = await context.Speciality.OrderBy(x => x.Code).ThenBy(x => x.Name)
            .AsNoTracking()
            .ToListAsync();

        Filter.SpecialityRadioItems = Specialities
            .Select(x => new ValueRadioItem<long?>($"{x.Code} {x.Name}", x.Id))
            .ToList();
        CurrentUser = (await AuthenticationStateTask).User;
        await (ApplicantsTable?.ReloadServerData() ?? Task.CompletedTask);
    }

    private async void ApplyFilterAsync(object? sender, FieldChangedEventArgs fieldChangedEventArgs)
    {
        try
        {
            await (ApplicantsTable?.ReloadServerData() ?? Task.CompletedTask);
        }
        catch (Exception exception)
        {
            Logger.LogError(exception, "Error in async void method");
        }
    }

    private async Task OnDownloadApplicantsTableAsync()
    {
        if (!Filter.SelectedSpecialityId.HasValue)
        {
            _ = await DialogService.ShowMessageBox("Ошибка", "Выберите специальность. Настройте фильтр.");
            return;
        }
        var items = ApplicantsTable?.FilteredItems?.ToList();
        if (items is null || items.Count <= 0)
        {
            _ = await DialogService.ShowMessageBox("Ошибка", "Поиск не дал результатов. Настройте фильтр.");
            return;
        }
        var basePath = Configuration["AdmissionCommittee:ApplicantsTablePath"];
        var fileName = $"Сводная_Абитуриентов_{DateTime.Now.ToString("yyyyMMddHHmmss")}_{Path.GetRandomFileName()}.xlsx";
        var fullFileName = Path.Combine(basePath, fileName);
        var model = new ApplicantsTableModel(items, Specialities.First(x => x.Id == Filter.SelectedSpecialityId), StringLocalizer);
        _ = await ApplicantsTableCreator.CreatePackageAsync(fullFileName, model);
        NavigationManager.NavigateTo(NavigationManager.BaseUri + fileName, true);
    }

    private async Task<TableData<Applicant>> LoadApplicantsFromDatabase(TableState tableState)
    {
        var page = tableState.Page;
        var pageSize = tableState.PageSize;
        var sortDirection = tableState.SortDirection;
        var sortLabel = tableState.SortLabel;
        var (items, totalItems) = await DbContextFactory.LoadApplicantPagesAsync(sortLabel, sortDirection, page, pageSize, Filter);

        var tableData = new TableData<Applicant>()
        {
            Items = items,
            TotalItems = totalItems
        };
        return tableData;
    }


    private async Task DeleteApplicantAsync(Applicant applicant)
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var dbApplicant = await context.Applicant
            .Include(x => x.Student)
            .ThenInclude(x => x!.Group)
            .Include(x => x.Statement)
            .FirstOrDefaultAsync(x => x.Id == applicant.Id);
        if (dbApplicant is null)
        {
            return;
        }

        if (dbApplicant.Student != null)
        {
            _ = await DialogService.ShowMessageBox("Удаление", $"Невозможно удалить данные зачисленного студента группы {dbApplicant.Student.Group.Name} {dbApplicant.FullName}! Сначала должно идти отчисление на странице этой группы.");
        }

        var deleteApplicant = await DialogService.ShowMessageBox("Удаление", $"Вы хотите удалить данные абитуриента {dbApplicant.FullName}?", "Да", "Нет");
        if (!deleteApplicant.HasValue || !deleteApplicant.Value)
        {
            return;
        }
        var basePath = Configuration["AdmissionCommittee:StatementPath"];
        var fileName = dbApplicant.Statement.Name;
        var fullFileName = Path.Combine(basePath, fileName);
        if (File.Exists(fullFileName))
        {
            File.Delete(fullFileName);
        }
        context.Remove(dbApplicant);
        await context.SaveChangesAsync();
        await (ApplicantsTable?.ReloadServerData() ?? Task.CompletedTask);
    }

    private async Task MarkAsAsync(Applicant applicant, DirectorDecisionType decision, string info)
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var dbApplicant = await context.Applicant
            .Include(x => x.Student)
            .ThenInclude(x => x!.Group)
            .FirstOrDefaultAsync(x => x.Id == applicant.Id);
        if (dbApplicant is null || dbApplicant.DirectorDecision == decision || dbApplicant.Student != null)
        {
            return;
        }

        var markApplicant = await DialogService.ShowMessageBox("Решение", info, "Да", "Нет");
        if (!markApplicant.HasValue || !markApplicant.Value)
        {
            return;
        }
        applicant.DirectorDecision = decision;
        dbApplicant.DirectorDecision = decision;
        await context.SaveChangesAsync();
    }

    private async Task ResetAsync()
    {
        Filter.Reset();
        StateHasChanged();
        await (ApplicantsTable?.ReloadServerData() ?? Task.CompletedTask);
    }

}