@page "/applicants/create"
@using Application.AdmissionCommittee.Forms
@using Application.Common.Enums
@using Application.Specialities.Data
@using Microsoft.EntityFrameworkCore
@using Application.AdmissionCommittee.Data
@using Blazored.LocalStorage
@inject IDbContextFactory<AdmissionCommitteeDbContext> DbContextFactory
@inject ILocalStorageService LocalStorageService
<PageTitle>Заполнить данные абитуриента</PageTitle>
<h3>Данные абитуриента</h3>
<EditForm EditContext="EditContext"
          OnValidSubmit="OnSubmitAsync">
    <FluentValidationValidator DisableAssemblyScanning="true"/>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText @bind-Value="@Form.FamilyName"/>
    <InputText @bind-Value="@Form.FirstName"/>
    <InputText @bind-Value="@Form.SurName"/>
    <InputDate @bind-Value="@Form.DateOfBirth"/>
    <InputText @bind-Value="@Form.PassportType"/>
    <InputText @bind-Value="@Form.PassportSerial"/>
    <InputText @bind-Value="@Form.PassportNumber"/>
    <InputText @bind-Value="@Form.PassportIssuer"/>
    <InputText @bind-Value="@Form.PassportIssuerCode"/>
    <InputDate @bind-Value="@Form.PassportIssueDate"/>
    <InputText @bind-Value="@Form.Address"/>
    <InputText @bind-Value="@Form.PostalCode"/>
    <InputText @bind-Value="@Form.Phone"/>
    <InputText @bind-Value="@Form.Description"/>
    <InputNumber @bind-Value="@Form.LanguageRating"/>
    <InputNumber @bind-Value="@Form.MathRating"/>
    <InputNumber @bind-Value="@Form.AverageAttestRating"/>
    <MyEnumInputRadioGroup TValue="EducationType" @bind-Value="@Form.EducationType"/>
    <InputText @bind-Value="@Form.EducationDescription"/>
    <InputText @bind-Value="@Form.EducationDocumentSerial"/>
    <InputText @bind-Value="@Form.EducationDocumentNumber"/>
    <InputDate @bind-Value="@Form.EducationDocumentIssued"/>
    <MyEnumInputRadioGroup TValue="EducationForm" @bind-Value="@Form.EducationForm"/>
    <MyInputCheckBox @bind-Value="@Form.FirstTimeInTechnicalSchool"/>
    <MyInputCheckBox @bind-Value="@Form.NeedDormitory"/>
    <MyEnumInputRadioGroup TValue="FinanceEducationType" @bind-Value="@Form.FinanceEducationType"/>
    <MyInputCheckBox @bind-Value="@Form.HasMother"/>
    <InputText @bind-Value="@Form.MotherFirstName"/>
    <InputText @bind-Value="@Form.MotherFamilyName"/>
    <InputText @bind-Value="@Form.MotherSurName"/>
    <InputText @bind-Value="@Form.MotherWorkDescription"/>
    <InputText @bind-Value="@Form.MotherMobilePhone"/>
    <InputText @bind-Value="@Form.MotherWorkPhone"/>
    <InputText @bind-Value="@Form.MotherHomePhone"/>
    <MyInputCheckBox @bind-Value="@Form.HasFather"/>
    <InputText @bind-Value="@Form.FatherFirstName"/>
    <InputText @bind-Value="@Form.FatherFamilyName"/>
    <InputText @bind-Value="@Form.FatherSurName"/>
    <InputText @bind-Value="@Form.FatherWorkDescription"/>
    <InputText @bind-Value="@Form.FatherMobilePhone"/>
    <InputText @bind-Value="@Form.FatherWorkPhone"/>
    <InputText @bind-Value="@Form.FatherHomePhone"/>
    <InputText @bind-Value="@Form.DistanceApplicantWorkDescription"/>
    <MyCheckboxGroup TCheck="long" Options="@SpecialityIdsOptions" @bind-Value="@Form.SelectedSpecialityIds"/>
    <FluentButton type="submit">Записать</FluentButton>
</EditForm>

@code {

    public ApplicantCreatePage()
    {
        EditContext = new EditContext(Form);
    }

    public Dictionary<long, Speciality> Specialities { get; set; } = new();

    public ApplicantForm Form { get; set; } = new();

    public EditContext EditContext { get; set; }

    public List<MyCheckboxGroup<long>.OptionItem> SpecialityIdsOptions => Specialities.Values.Select(x =>
        new MyCheckboxGroup<long>.OptionItem(
            $"{x.Code} {x.Name}",
            x.Id,
            Form.SelectedSpecialityIds.Contains(x.Id)))
        .ToList();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await using var context = await DbContextFactory.CreateDbContextAsync();
        Specialities = await context.Speciality.OrderBy(x => x.Code).ThenBy(x => x.Name).ToDictionaryAsync(x => x.Id);
        if (await LocalStorageService.ContainKeyAsync("ACP_LS"))
        {
            Form = await LocalStorageService.GetItemAsync<ApplicantForm>("ACP_LS");
        }
        EditContext.OnFieldChanged += SaveEditContextOnOnFieldChanged;
    }

    private async void SaveEditContextOnOnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        try
        {
            await LocalStorageService.SetItemAsync("ACP_LS", Form);
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
            throw;
        }
    }

    private async Task OnSubmitAsync()
    {
        EditContext.OnFieldChanged -= SaveEditContextOnOnFieldChanged;
        await LocalStorageService.RemoveItemAsync("ACP_LS");
        Console.WriteLine("SSS");
    }

}